<header>
    <div id="header">
        <div id='menu'>
            <ul>
                <li><a href='#'>nieuwsbrief</a> | </li>
                <li><a href='#'>mobiel</a> | </li>
                <li><a href='#'>contact</a> | </li>
                <li><a href='#'>meld een fout</a> | </li>
                <li><a href='#'>frequenties</a> | </li>
                <li><a href='#'>help</a> | </li>
                <li><a href='#'>rss</a></li>
            </ul>
        </div>                  
        <div id="top100">
            <p><a href="?page=home"><img style="float: left;" src="img/radio_logo.jpg"></a></p>
               <img class="tourPicture" src="img/tourtop100.png">
               <ul>
                <div class="mybutton">
                    <li><a href="#">RADIO1.NL</a>| </li>
                    <li><a href="#">TOUR TOP 100</a>|</li>
                    <input type="text" name="zoek"placeholder="Zoek binnen Radio 1"/>
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </div>            
            </ul>
        </div>
    </div>
</header>