<html>
<header>
     <script src="js/script.js"></script>
    <div id="header">
        <div id='menu'>
            <ul>
                <li><a href='#'>nieuwsbrief</a> | </li>
                <li><a href='#'>mobiel</a> | </li>
                <li><a href='#'>contact</a> | </li>
                <li><a href='#'>meld een fout</a> | </li>
                <li><a href='#'>frequenties</a> | </li>
                <li><a href='#'>help</a> | </li>
                <li><a href='#'>rss</a></li><br>
                <div class="menuRight">
                <img style id="plustext" alt="A+" onclick="resizeText(1)" />
                <img id="minustext" alt="A-" onclick="resizeText(-1)" /><br>
                <a href="#"><img src="img/luisterlive.png"></a>
                </div>
            </ul>
        </div>
        <div id="top100">

            <p><img style="float: left;" src="img/radio_logo.jpg"></p>
               <img class="tourPicture" src="img/tourtop100.png">
               <ul>
                <div class="myButton">
                    <li><a href="http://www.radio1.nl/">RADIO1.NL</a>| </li>
                    <li><a class="test" href="#">TOUR TOP 100</a>|</li>
                    <input type="text" name="zoek" /> 
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </div>    
            </ul>
    </div>
    </div>

</header>
</html>