/*html{
	background: url(../img/background.jpg);
	background-size: cover;
}*/
#advertisement{
	float: right;
	display: block;
	right: 200px;
	position: absolute;
	top: 50px;
}
#advertisement li{
	display: block;
	text-decoration: none;
}
