@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lobster);

html {
    margin: 0;
    padding: 0;        
}
body {
   	font-family: sans-serif;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
#pagination {
    text-align: center;
    margin-top: .5em;
}
#pagination ul {
    list-style-type: none;
    display: inline;
}

#pagination li {
    display: inline;
    list-style-type: none;
    color: black;
}
#pagination li a {
     text-decoration: none;
     color: black;
 }
#pagination li a:hover {
    border: solid 1px red;
}

#header{
    width: 100%;
    height: 10em;
}
#wrapper {
        width: 80%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 1);
		overflow:auto;
}

footer {
        background-color: #fff000;
        font-size: 0.8em;
}
footer p {
        margin: 0;
        padding: 1em 10% 1em 12%;
		text-align: center;
}

#top100 {
    padding-left: 10em;
    float: left;
    padding-bottom: 3em;
    
}

#top100 ul {
    list-style-type: none;
    display: inline;
}

#top100 li {
    background-color: grey;
    display: inline;
    list-style-type: none;
    color: black;

}
#top100 li a {
    text-decoration: none;
    color: black;
}
#top100 li a:hover {
    color: red;
}

#menu {
    float: right;
    margin-top: .5em;
    margin-right: .5em;
}
#menu ul {
    list-style-type: none;
    display: inline;
}

#menu li {
    display: inline;
    list-style-type: none;
    color: black;
}
#menu li a {
     text-decoration: none;
     color: black;
 }
#menu li a:hover {
    color: red;
}

input,textarea {
    width: 10em;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:rgba(255,255,255,.6);
    border:solid 1px #b6c7cb;
}