<<<<<<< HEAD
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lobster);
*{
    font: Arial,HELVETICA, sans-serif;
}
html {
    margin: 0;
    padding: 0;    
    height: 100%;
}
body {
   	font-family: sans-serif;
    background: url(../img/background.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
=======
*{
    margin: 0;
    padding: 0;
    font: Arial,HELVETICA, sans-serif;
    color: #333;
}
html {
    margin: 0;
    padding: 0;     
    height: 100%;
}
body {
    font-family: sans-serif;
    background: url(../img/background.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;  
}
#pageimg {
    background: url(../img/top.png);
    background-size: 100%;
    height: 40px;
    margin-bottom: 30px;
>>>>>>> master
}

#pageimg {
    background: url(../img/top.png);
    background-size: 100%;
    height: 40px;
    margin-bottom: 30px;
}

#pagination {
    text-align: center;
    padding-top: 5px;
<<<<<<< HEAD
    font-size: 24px;
=======
    font-size: 20px;
>>>>>>> master
}
#pagination ul {
    list-style-type: none;
    display: inline;
}
#pagination li {
    display: inline;
    list-style-type: none;
<<<<<<< HEAD
    color: black;

=======
    float: left;
    font-weight: bold;
>>>>>>> master
}
#pagination li a {
     text-decoration: none;
 }
/*was hier gebleven ..cemre */ 
 #pagination li a:active {
     background-color: grey;
     text-decoration: none;
     color: black;
     font-weight: bold;
<<<<<<< HEAD
 }
 
 #pagination li a:active {
     background-color: grey;
     text-decoration: none;
     color: black;
     font-weight: bold;
=======
>>>>>>> master
 }
#pagination  a:hover {
    border: solid 1px red;
<<<<<<< HEAD
    background-color: white;
    
=======
    background-color: white; 
>>>>>>> master
}
#header{
    width: 100%;
    height: 10em;
}
#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
<<<<<<< HEAD
	overflow:auto;
	border-radius: 12px;
}

footer {
    margin-top: .5em;
    margin-right: .5em;
    color: rgba(0,0,0,0.4);
}
footer ul {
    list-style-type: none;
    display: inline;
}

footer li {
    display: inline;
    list-style-type: none;
    color: black;
}
footer li a {
     text-decoration: none;
     color: black;
 }
footer li a:hover {
    color: red;
}



footer {
    background-color: #000;
    font-size: 0.8em;
    height: 4em;
    padding: 1em 10% 1em 12%;

    background: #7d7e7d;
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d',                         endColorstr='#0e0e0e',GradientType=0 );
        list-style-type: none;
        text-align: center;

=======
    border-radius: 12px;
}
#wrapper, #top100{
    height: 1400px;
}
footer {
    background-color: #fff000;
    font-size: 0.8em;
    height: 4em;
    padding: 1em 10% 1em 12%;
>>>>>>> master
}
footer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
#top100 {
<<<<<<< HEAD
    padding-left: 10em;
    padding-bottom: 3em;
    float: left;
=======
    display: inline-block;
                                                                                                                                                                                                                                                                                                                                                                          
>>>>>>> master
}
#top100 ul {
    list-style-type: none;
    display: inline;
<<<<<<< HEAD
    float:left ;
=======
    float:left;
>>>>>>> master
}
#top100 li {
    display: inline;
    list-style-type: none;
<<<<<<< HEAD
    color: #000;
    float:left;

=======
    color: black;
    float:left;
>>>>>>> master
}
#top100 li a {
    text-decoration: none;
    color: #fff;
    padding: 12px;
}
#top100 li a:hover {
    color: red;
}
<<<<<<< HEAD

.menuRight {
    margin-top: 3em; 
    float: right;   
}

=======
>>>>>>> master
#menu {
    float: right;
    margin-top: .5em;
    margin-right: .5em;
<<<<<<< HEAD
    color: rgba(0,0,0,0.4);
=======
    padding: 0 5px 8px
>>>>>>> master
}
#menu ul {
    list-style-type: none;
    display: inline;
}
#menu li {
    display: inline;
    list-style-type: none;
    color: #bbb;
}
#menu li a {
     text-decoration: none;
    color: #bbb;
    font-size: 12px;
 }
#menu li a:hover {
    color: red;
}
input,textarea {
    width: 10em;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:rgba(255,255,255,.6);
    border:solid 1px #b6c7cb;
}
<<<<<<< HEAD

section{
    font-family: "Times New Roman", Times, serif;
=======
section{
>>>>>>> master
    display: block;
    height: 60%;
    width: 60%;
    float:left;
<<<<<<< HEAD
    padding-left: .5em;
}

section img {
    margin-left: 10px;
    margin-right: 10px;
} 
 

aside { 
    padding-bottom: 20%; 
    float:right; 
    width:20%;
    padding-right: 3em;
}
aside li{
    list-style: none;
}
#question{
    background: url('../img/Banner_prijsvraag.jpg');
    height: 115px;
    width: 230px;
    background-repeat: no-repeat;
}
#question p{
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 3em;
}
#play_image{
    float: left;
}

=======
}
section img {
    margin-left: 10px;
    margin-right: 10px;
}
aside {
    display: inline-block;
    padding-top: 5em; 
    float:right; 
    width:10%;
}
aside li{
    list-style: none;
} 
#play_image{
    float: left;
}
>>>>>>> master
#social_buttons{
    display: inline;
    float: right;
}
<<<<<<< HEAD

=======
>>>>>>> master
#social_buttons img{
    display: inline;
    margin: 0;
}
<<<<<<< HEAD

.btn {
 color: #fff;
    background-color: #454545;
    border: solid 1px #525252;
    margin-left: -7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tourPicture {
   margin-bottom: 2em;
}
.myButton {
	background-color:#525252;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 14px;
}
section h1 {
    color: red;
}

hr {
  border: none;
  border-top: 2px dotted #000;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.test {
    background-color:#373737;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
=======
.btn {
    opacity: 0.7;
    color: green;
}
.tourpicture {
    margin-bottom: 2em;
}
.mybutton {
    background-color:#525252;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    padding:10px 14px;
    text-decoration:none;   
}
.mybutton li {

}
.mybutton:active {
    color:green;
}
#songs{
    height: 20em;
>>>>>>> master
}